/* Importación de las Fuentes */
@font-face { 
    font-family: "HelveticaNeue"; 
    font-weight: 500; 
    src: 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.woff") format("woff"), 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.ttf") format("truetype"); 
} 

@font-face {
    font-family: 'Helvetica Neue Light';
    font-weight: 300;
    src:
        url("/website_hino/static/src/css/fonts/helveticaneue-light.woff") format("woff"),
        url("/website_hino/static/src/css/fonts/helveticaneue-light.ttf") format("truetype");
}