/* Importación de las Fuentes */
@font-face { 
    font-family: "HelveticaNeue"; 
    font-weight: 500; 
    src: 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.woff") format("woff"), 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.ttf") format("truetype"); 
} 

@font-face {
    font-family: 'Helvetica Neue Light';
    font-weight: 300;
    src:
        url("/website_hino/static/src/css/fonts/helveticaneue-light.woff") format("woff"),
        url("/website_hino/static/src/css/fonts/helveticaneue-light.ttf") format("truetype");
}

/* AJUSTES GENERALES */

figure{
    margin: 0;
}

/* BANNER REPUESTOS */

.banner-repuestos{
    margin-top: 130px;
}

.banner-repuestos > figure{
    height: auto !important;
}

.banner-repuestos > figure > img{
    width: 100%;
}

/* RESPONSIVE BANNER REPUESTOS */


@media (max-width: 800px){
    .banner-repuestos{
        margin-top: 70px;
    }
}

@media only screen and (max-width: 500px){
    .banner-repuestos{
        background-image: url(../../../images/banner-repuestos-responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 345px !important;
    }

    .banner-repuestos figure{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .banner-repuestos{
        height: 300px !important;
    }
}

@media only screen and (max-width: 380px){
    .banner-repuestos{
        height: 270px !important;
    }
}


/* HINO GENUINE PARTS */

.genuine-parts .genuine-parts-info{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.genuine-parts .genuine-parts-info figure{
    margin: 0;
}

.genuine-parts .genuine-parts-info > p{
    font-family: 'Helvetica Neue Light';
    margin: 0;
    color: #878787;
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
}

.genuine-parts .genuine-parts-articulos{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    background: #F6F6F6;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.genuine-parts .genuine-parts-articulos article{
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.genuine-parts .genuine-parts-articulos article figure{
    margin: 0;
}

.genuine-parts .genuine-parts-articulos article span{
    font-family: 'HelveticaNeue';
    font-size: 20px;
    margin-top: 5%;
    text-transform: capitalize;
}

.genuine-parts .genuine-parts-articulos article > p{
    font-family: 'Helvetica Neue Light';
    font-size: 20px;
    margin-top: 5%;
}

/* RESPONSIVE HINO GENUINE PARTS*/

@media only screen and (max-width: 1300px){
    .genuine-parts .genuine-parts-info{
        max-width: 1000px;
    }

    .genuine-parts .genuine-parts-info > p{
        line-height: 30px;
    }

    .genuine-parts .genuine-parts-articulos{
        max-width: 1000px;
    }

    .genuine-parts .genuine-parts-articulos article{
        width: 23%;
    }
}

@media only screen and (max-width: 1100px){
    .genuine-parts .genuine-parts-info{
        max-width: 900px;
    }

    .genuine-parts .genuine-parts-info > p{
        line-height: 26px;
    }

    .genuine-parts .genuine-parts-articulos{
        max-width: 900px;
    }

    .genuine-parts .genuine-parts-articulos article{
        width: 25%;
    }
}

@media only screen and (max-width: 1000px){
    .genuine-parts .genuine-parts-info,
    .genuine-parts .genuine-parts-articulos{
        max-width: 800px;
    }

    .genuine-parts .genuine-parts-info{
        flex-direction: column;
        gap: 10px;
    }

    .genuine-parts .genuine-parts-info figure{
        width: 100%;
    }

    .genuine-parts .genuine-parts-info figure img{
        width: 100%;
    }

    .genuine-parts .genuine-parts-info > p{
        line-height: 28px;
        width: 95%;
    }

    .genuine-parts .genuine-parts-articulos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 5% 2%;
        margin-top: 5%;
    }

    .genuine-parts .genuine-parts-articulos article{
        width: 55%;
    }
}

@media only screen and (max-width: 900px){
    .genuine-parts .genuine-parts-info,
    .genuine-parts .genuine-parts-articulos{
        max-width: 90%;
    }
}

@media only screen and (max-width: 700px){
    .genuine-parts .genuine-parts-info > p{
        font-size: 18px;
        line-height: 25px;
    }

    .genuine-parts .genuine-parts-articulos article span{
        font-size: 18px;
    }

    .genuine-parts .genuine-parts-articulos article > p{
        font-size: 18px;
        margin-top: 2%;
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px){
    .genuine-parts .genuine-parts-info{
        gap: 15px;
    }

    .genuine-parts .genuine-parts-info > p{
        font-size: 15px;
        line-height: 20px;
    }

    .genuine-parts .genuine-parts-articulos article span{
        font-size: 15px;
    }

    .genuine-parts .genuine-parts-articulos article > p{
        font-size: 15px;
        line-height: 20px;
    }
}

/* REPUESTOS ORIGINALES */

.repuestos-originales{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.repuestos-originales figure{
    margin: 0;
    width: 100%;
    height: auto;
}

.repuestos-originales figure img{
    width: 100%;
}

/* GALERIA REPUESTOS */

.galeria_repuestos {
    max-width: 1200px;
    width: 100%;
    margin: 5% auto;
}

.galeria_repuestos .galeria_repuestos_titulo {
    font-family: 'HelveticaNeue';
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselExampleFade {
    max-width: 100%;
    margin: 0 auto;
    height: 350px;
}

#carouselExampleFade .carousel-inner {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item {
    min-height: 350px;
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item > div {
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item > div figure {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#carouselExampleFade .w-25 {
    width: 100% !important;
}

.carousel-control-prev, .carousel-control-next {
    width: 2%;
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next-icon {
    position: relative;
    right: -25px;
}

/* RESPONSIVE GALERIA REPUESTOS */

@media (max-width: 1300px) {
    .galeria_repuestos {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .galeria_repuestos {
        max-width: 900px;
    }

    #carouselExampleFade {
        height: 320px;
    }

    #carouselExampleFade .carousel-inner .carousel-item {
        min-height: 100% !important;
    }
}

@media (max-width: 1000px) {
    .galeria_repuestos {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .galeria_repuestos {
        max-width: 90%;
    }
}

@media (max-width: 800px) {
    .galeria_repuestos .galeria_repuestos_titulo {
        font-size: 25px;
    }

    #carouselExampleFade {
        height: 250px;
    }
}

@media (max-width: 700px) {

    .galeria_repuestos .galeria_repuestos_titulo {
        font-size: 20px;
    }

    #carouselExampleFade {
        height: 220px;
    }
}

@media (max-width: 600px) {
    #carouselExampleFade .carousel-inner .carousel-item > div {
        gap: 2%;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div figure {
        width: 100%;
        min-width: 49%;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 3%;
    }

    .carousel-control-prev {
        left: -18px;
    }

    .carousel-control-next-icon {
        right: -18px;
    }
}

@media (max-width: 500px) {
    .galeria_repuestos {
        margin: 10% auto;
    }

    .galeria_repuestos .galeria_repuestos_titulo {
        font-size: 18px;
        text-align: center;
    }

    #carouselExampleFade {
        height: 325px;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div {
        gap: 0;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div figure {
        min-width: 100%;
    }

    #carouselExampleFade .w-25 {
        width: 70% !important;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 6%;
    }

    .carousel-control-prev {
        left: 0px;
    }

    .carousel-control-next-icon {
        right: 0px;
    }
}

@media (max-width: 400px) {
    #carouselExampleFade {
        height: 260px;
    }
}

/* GALERÍA 2 */

.carousel {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 0;
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 300px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel > div {
    width: 95%;
    margin: 0 auto;
}

.carrusel img {
    object-fit: cover;
    height: 300px;
    width: 100% !important;
    transition: .3s ease-in-out;
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    width: 28px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 20px;
    height: 100%;
    color: #E02413;
}

.carrusel-prev {
    left: 6px;
}

.carrusel-next {
    right: 6px;
}

/* RESPONSIVE GALERÍA 2 */

@media (max-width: 1300px) {
    .carousel {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .carousel {
        max-width: 900px;
    }
}

@media (max-width: 1000px) {
    .carousel {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .carousel {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .carrusel {
        width: 300px;
    }

    .carrusel img {
        width: 250px;
    }
}

/* SUCURSALES */

.sucursales-repuestos{
    padding: 5% 0;
    background-color: #E8E8E8;
}

.sucursales > h3{
    font-family: 'HelveticaNeue';
    text-align: center;
    font-size: 25px;
    margin-bottom: 5%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucursales > div{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 24px;
}

.sucursales > div article{
    width: 49%;
}

.sucursales .sucursal .sucursal-top{
    display: flex;
    height: 350px;
    justify-content: space-between;
}

.sucursales .sucursal-top .sucursal-info{
    width: 50%;
    background-color: #FFF;
    border-radius: 8px 0 0 8px;
}

.sucursales .sucursal-top .sucursal-info h4{
    font-family: 'Helvetica Neue Light';
    letter-spacing: 1px;
    color: #D8232A;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #D8232A;
    padding: 6% 0 1% 8%;
    margin: 0;
}

.sucursales .sucursal-top .sucursal-info .informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 6% 2% 2% 8%;
}

.sucursales .sucursal-top .sucursal-info .informacion > div{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: left;
    align-items: center;
    gap: 5%;
}

.sucursales .sucursal-top .sucursal-info .informacion > div p,
.sucursales .sucursal-top .sucursal-info .informacion > div a{
    font-family: 'Helvetica Neue Light';
    font-size: 12px;
    margin: 0;
    line-height: 16px;
    text-decoration: none;
}

.sucursales .sucursal-top .sucursal-ubicacion{
    width: 50%;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.sucursales .sucursal-top .sucursal-ubicacion iframe{
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.sucursales .sucursal-bottom{
    display: flex;
    margin-top: 2%;
    gap: 2%;
}

.sucursales .sucursal-bottom a{
    font-family: 'Helvetica Neue Light';
    display: flex;
    font-size: 10px;
    justify-content: center;
    background-color: #FFF;
    color: #000;
    text-transform: uppercase;
    align-items: center;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 12px;
    border-radius: 8px;
    padding: 2%;
    gap: 5px;
}

.sucursales-repuestos figure{
    margin: 0;
}

.sucursales-repuestos > a{
    font-family: 'Helvetica Neue Light';
    background: linear-gradient(#D8232A, #BF001B, #8D0007);
    color: #FFF;
    text-transform: capitalize;
    border-radius: 12px;
    font-size: 18px;
    width: 260px;
    height: 45px;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    text-decoration: none;
}

/* RESPONSIVE SUCURSALES */

@media only screen and (max-width: 1300px){

    .sucursales > div {
        max-width: 1000px;
        justify-content: space-between;
    }

    .sucursales > div article {
        width: 48%;
    }
}

@media only screen and (max-width: 1100px){
    .sucursales > div {
        max-width: 900px;
        justify-content: space-between;
    }

    .sucursales > h3{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sucursales > div article {
        width: 48%;
    }
}

@media only screen and (max-width: 1000px){

    .sucursales > div {
        max-width: 800px;
        justify-content: center;
    }

    .sucursales > div article {
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .sucursales > div {
        max-width: 90%;
    }
}

@media only screen and (max-width: 800px){

    .sucursales > h3 {
        font-size: 25px;
    }

}

@media only screen and (max-width: 700px){

    .sucursales > h3 {
        font-size: 20px;
    }

    .sucursales .sucursal-top .sucursal-info h4{
        font-size: 18px;
    }

}

@media only screen and (max-width: 767px){

    .sucursales > div article {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){

    .sucursales > h3{
        font-size: 18px;
        margin-bottom: 2%;
    }

    .sucursal-top{
        flex-direction: column;
        height: 500px !important;
    }

    .sucursal-top > div{
        width: 100% !important;
    }

    .sucursal-top .sucursal-info{
        border-radius: 8px 8px 0 0 !important;
    }

    .sucursales .sucursal-top .sucursal-info .informacion > div{
        height: 35px;
    }

    .sucursales .sucursal-top .sucursal-info h4{
        font-size: 15px;
        padding: 4% 0 2% 8%;
    }

    .sucursales .sucursal-top .sucursal-ubicacion, .sucursal-ubicacion > iframe{
        border-radius: 0 0 8px 8px !important;
    }

    .sucursales-repuestos > a{
        font-size: 15px;
        margin-top: 10%;
    }

}

/* FORMULARIO REPUESTOS */ 

.form-main-repuestos{ 
    width: 100%;
    margin-bottom: 0px;
    background-color: #111;
    overflow: hidden;
} 
 
.s_website_form { 
    position: relative; 
    display: flex; 
    justify-content: space-between;
    background-color: #111111;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5%;
} 
 
.o_container_small { 
    width: 50%;
    padding: 4% 0;
    margin: 0;
} 

.s_website_form > .text-img-repuestos{
    width: 75%;
    background-image: url(../../../images/taller-hino.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    right: -365px;
    top: 0;
}

.s_website_form > .text-img-repuestos .capa{
    width: calc(100% + 3px);
    height: 100%;
    background: linear-gradient(to right, #111, transparent);
    position: relative;
    left: -3px;
}
 
.s_website_form_rows { 
    display: flex; 
    flex-wrap: wrap;
    gap: 6%; 
} 
 
.s_website_form_field { 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
} 

.campo_nombre, .campo_apellido,.campo_correo, .campo_tlf{
    width: 47%;
}

.campo_ciudad,.campo_contacto, .campo_terminos,.campo_placa_camion,.campo_vin_camion{
    width: 100%;
}

.campo_terminos{
    margin: 3% 0 4% 0;
}

.campo_contacto{
    margin-top: 2%;
}

.campo_contacto label{
    margin-bottom: 2% !important;
}
 
.s_website_form_field > .row{
    display: flex;
    flex-direction: column;
}
 
.s_website_form_field label { 
    width: 100%; 
    margin-bottom: 0; 
} 
 
.s_website_form_field input, .s_website_form_field select { 
    background-color: #111111 !important; 
    color: #ffffff; 
    margin: 0; 
    padding: 0; 
    border: none;
    outline: none;
    border-bottom: 2px solid #D8232A; 
    border-radius: 0; 
    width: 100%; 
    box-sizing: border-box; 
    box-shadow: none !important;
} 
 
.s_website_form_field select { 
    width: 100%; 
    height: 25px; 
} 
 
input[name="name"] { 
    width: 100%; 
    height: 25px; 
} 
 
.s_website_form_field input[type="checkbox"] { 
    width: 15px; 
    position: relative;
}

.s_website_form_field label{
    font-family: 'Helvetica Neue Light';
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    gap: 2%;
    color: gray;
    font-size: 15px;
}
 
.s_website_form_submit { 
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-right: 140px;
    margin-top: 0px;
    width: 100%;
}

.s_website_form_submit > a{
    font-family: 'Helvetica Neue Light';
    letter-spacing: .5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    font-size: 15px;
    width: 135px;
    height: 40px;
}

.form-main-repuestos .form-control:focus{
    box-shadow: none !important;
    border-color: #D8232A;
}
 
.btn { 
    background: linear-gradient(#D8232A, #BF001B, #8D0007);
    color: #ffffff; 
    padding: 6px 18px; 
    border: none; 
    border-radius: 9px; 
    cursor: pointer; 
    text-decoration: none; 
} 
 
#form-icon{ 
    width: 16px;
    height: 16px;
} 

.image-text { 
    font-family: 'HelveticaNeue';
    position: absolute; 
    font-weight: 600; 
    font-size: 25px; 
    top: 40%; 
    color: #fff; 
    line-height: 32px;
    padding-left: 5%;
} 

.row-copi{ 
    margin-left: 35% 
}

.form-title-responsive{
    font-family: 'HelveticaNeue';
    display: none;
}

/* RESPONSIVE FORMULARIO */

@media only screen and (max-width: 1300px){
    .s_website_form{
        max-width: 1000px;
    }

    .s_website_form > .text-img-repuestos{
        background-size: cover;
        background-position: right;
        width: 80%;
    }

}

@media only screen and (max-width: 1100px){
    
    .s_website_form{
        max-width: 900px;
    }

    .s_website_form > .text-img-repuestos{
        width: 88%;
    }

    .image-text{
        font-size: 30px;
    }

    .image-text br{
        display: none;
    }

}

@media only screen and (max-width: 1000px){
    .s_website_form{
        max-width: 100%;
        height: 1090px;
        gap: 0;
        display: inline-block;
    }

    .s_website_form .o_container_small{
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
    }

    .s_website_form > .text-img-repuestos{
        width: 100%;
        height: 34%;
        right: 0;
        bottom: 0;
        top: initial;
    }

    .image-text {
        display: none;
    }

    .form-title-responsive{
        display: flex;
        justify-content: center;
        color: #FFF;
        margin-top: 4%;
        margin-bottom: 0;
        font-weight: 800;
        font-size: 30px;
    }

    .s_website_form > .text-img-repuestos .capa{
        background: linear-gradient(to bottom, #111, transparent);
        height: calc(100% + 3px);
        position: relative;
        top: -3px;
    }
}

@media only screen and (max-width: 800px){

    .s_website_form{
        height: 1255px;
    }

    .form-title-responsive{
        font-size: 25px;  
    }

    .campo_nombre, .campo_apellido, .campo_correo, .campo_tlf {
        width: 100%;
    }

    .s_website_form > .text-img-repuestos {
        width: 100%;
    }
}

@media only screen and (max-width: 767.98px){
    .s_website_form{
        height: 1240px !important;
    }
}

@media only screen and (max-width: 700px){
    .form-title-responsive{
        font-size: 20px;  
    }
}

@media only screen and (max-width: 600px){
    .s_website_form{
        height: 1180px !important;
    }
}

@media only screen and (max-width: 500px){
    .s_website_form{
        height: 1130px !important;
    }

    .form-title-responsive{
        font-size: 18px;  
        margin: 6% 0 3% 0;
    }

    .s_website_form_field input, .s_website_form_field select{
        font-size: 15px;
    }

    .s_website_form_submit > a {
        font-size: 15px;
    }
}

/* CONTACTANOS */

.contactanos{
    background: linear-gradient(90deg, #D8232A 0%, #7A140A 100%);
    height: 100px;
    display: flex;
}

.contactanos .container-contactanos{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactanos .container-contactanos span{
    font-family: 'HelveticaNeue';
    font-size: 25px;
    color: #FFF;
    text-transform: capitalize;
}

.contactanos .container-contactanos > div{
    display: flex;
    gap: 25px;
}

.contactanos .container-contactanos > div figure{
    margin: 0;
    width: 35px;
}

.contactanos .container-contactanos > div figure img{
    width: 100%;
}

/* RESPONSIVE CONTACTANOS */

@media only screen and (max-width: 1300px){
    .contactanos .container-contactanos{
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1100px){
    .contactanos .container-contactanos{
        max-width: 900px;
    }
}

@media only screen and (max-width: 1000px){
    .contactanos .container-contactanos{
        max-width: 800px;
    }
}

@media only screen and (max-width: 900px){
    .contactanos .container-contactanos{
        max-width: 90%;
    }
}

@media only screen and (max-width: 767.98px){
    .contactanos{
        height: 100px !important;
    }
}

@media only screen and (max-width: 700px){
    .contactanos{
        height: 60px !important;
    }

    .contactanos .container-contactanos span{
        font-size: 20px;
    }

    .contactanos .container-contactanos > div{
        gap: 20px;
    }

    .contactanos .container-contactanos > div figure{
        width: 25px;
    }
}

@media only screen and (max-width: 500px){
    .contactanos .container-contactanos span{
        font-size: 18px;
    }

    .contactanos .container-contactanos > div{
        gap: 15px;
    }

    .contactanos .container-contactanos > div figure{
        width: 22px;
    }
}

@media only screen and (max-width: 400px){
    .contactanos{
        height: 80px !important;
    }

    .contactanos .container-contactanos{
        flex-direction: column;
        justify-content: center;
    }

    .contactanos .container-contactanos > div figure{
        width: 20px;
    }
}

