/* Importación de las Fuentes */
@font-face { 
    font-family: "HelveticaNeue"; 
    font-weight: 500; 
    src: 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.woff") format("woff"), 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.ttf") format("truetype"); 
} 

@font-face {
    font-family: 'Helvetica Neue Light';
    font-weight: 300;
    src:
        url("/website_hino/static/src/css/fonts/helveticaneue-light.woff") format("woff"),
        url("/website_hino/static/src/css/fonts/helveticaneue-light.ttf") format("truetype");
}

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure{
    margin: 0;
}

body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    background: #D8232A;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure img{
    width: 200px;
}

/* HEADER RESPONSIVE */

@media only screen and (max-width: 700px){
    header figure img{
        width: 150px;
    }
}

@media only screen and (max-width: 500px){
    header{
        height: auto;
        padding: 5%;
    }
}

@media only screen and (max-width: 400px){
    header{
        height: auto;
        padding: 4% 5%;
    }

    header figure img{
        width: 130px;
    }
}

/* LOGIN */

.login{
    font-family: 'Helvetica Neue Light';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
    flex: 1;
}

.login form{
    width: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 3%;
    gap: 10px;
}

.login form > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

section.login form div label{
    color: #363435;
    font-size: 20px;
}

section.login form div input{
    font-family: 'Helvetica Neue Light';
    background-color: transparent !important;
    border: none;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

section.login form div:nth-child(2){
    margin-top: 5%;
}

.login form > button{
    font-family: 'Helvetica Neue Light';
    width: 100%;
    background: #D8232A;
    color: white;
    border: none;
    border-radius: 8px;
    height: 45px;
    margin-top: 6%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
}

.login form > a{
    font-size: 15px;
    color: #D8232A;
    text-decoration: none;
    letter-spacing: .5px;
}

/* LOGIN RESPONSIVE */

@media only screen and (max-width: 1000px){
    .login form{
        width: 60%;
    }
}

@media only screen and (max-width: 900px){
    .login form{
        width: 70%;
    }

    section.login form div label{
        font-size: 18px;
    }

    .login form > a{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px){

    .login form{
        width: 80%;
        padding: 4%;
    }

    section.login form div label{
        font-size: 16px;
    }

    .login form > button{
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px){
    .login form{
        width: 85%;
    }
}

/* FOOTER */

footer{
    height: 110px;
    background-color: #363435;
    padding: 2% 5%;
}

footer > div{
    background-color: #D8232A;
    width: 100%;
    height: 3px;
}

footer p{
    font-family: 'Helvetica Neue Light';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    margin-top: 1%;
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 900px){

    footer{
        padding: 4% 5% 5% 5%;
        height: auto;
    }

    footer p{
        font-size: 18px;
        margin-top: 2%;
    }
}

@media only screen and (max-width: 500px){
    footer p{
        font-size: 14px;
    }
}