/* Importación de las Fuentes */
@font-face { 
    font-family: "HelveticaNeue"; 
    font-weight: 500; 
    src: 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.woff") format("woff"), 
        url("/website_hino/static/src/css/fonts/HelveticaNeue.ttf") format("truetype"); 
} 

@font-face {
    font-family: 'Helvetica Neue Light';
    font-weight: 300;
    src:
        url("/website_hino/static/src/css/fonts/helveticaneue-light.woff") format("woff"),
        url("/website_hino/static/src/css/fonts/helveticaneue-light.ttf") format("truetype");
}

/* Slider de imagenes  con sus textos y botones de llamada a la accion*/

.swiper-container-series {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
    width: 100% !important;
}

.swiper-slide:active {
    width: 100% !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* Asegura que la altura sea del 100% del contenedor */
    object-fit: cover;
    /* Asegura que la imagen cubra completamente el contenedor manteniendo su proporción */
    object-position: center center;
    /* Centra la imagen en el contenedor */
}

.swiper-pagination-bullet {
    background-color: #be0a0a;
    width: 60px;
    height: 6px;
    border-radius: 3px;
}

.bg-slide {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
}

.swiper-slide .container-title-serie {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    align-items: self-end;
    gap: 4%;
}

.slider-text-serie {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 38.6px;
    text-align: right;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 60%;
    margin: 0;
    padding: 0;
    /* Ajusta este valor según sea necesario */
    color: #ffffff;
    /* Color del texto */
}

.slider-2-text-serie {
    font-weight: 500;
    font-size: 20px;
    line-height: 19.76px;
    text-align: right;
    width: 54%;
    margin: 0;
    padding: 0;
    /* Ajusta este valor según sea necesario */
    color: #ffffff;
    /* Color del texto */
}

.call-action-btn-serie {
    background-image: linear-gradient(to right, #E60013, #BF001B, #8D0007);
    color: #ffffff;
    /* Color del texto del botón */
    font-size: 20px;
    padding: 5px 20px;
    /* Espaciado interno del botón */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    border-radius: 12px;
    /* Bordes redondeados del botón */
    cursor: pointer;
}

.call-action-btn-serie:hover {
    background-image: linear-gradient(to right, #d81525, #b40f25, #8d0e15);
    /* background-color: #d30a0a;  */
    color: #ffffff;
    /* Cambia el color del texto al pasar el cursor */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

/* RESPONSIVE SLIDER MAIN SERIE */

@media (max-width: 1300px) {
    .swiper-slide .container-title-serie {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .swiper-slide .container-title-serie {
        max-width: 900px;
        padding-top: 10%;
    }

    .slider-text-serie {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .swiper-slide .container-title-serie {
        max-width: 800px;
        justify-content: flex-end;
        padding-top: 0;
        padding-bottom: 15%;
        gap: 15%;
    }

    .slider-2-text-serie {
        display: none;
    }

    .call-action-btn-serie {
        width: 40%;
        padding: 15px 24px;
    }
}

@media (max-width: 900px) {
    .swiper-slide .container-title-serie {
        width: 90%;
    }
}

@media (max-width: 800px) {

    .slider-text-serie {
        font-size: 25px;
    }
}

@media (max-width: 700px) {

    .slider-text-serie {
        font-size: 20px;
    }

    .call-action-btn-serie {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .call-action-btn-serie {
        width: 50%;
        padding: 15px 10px;
    }
}

@media (max-width: 500px) {
    .swiper-container-series {
        height: 400px !important;
    }

    .bg-slide {
        height: 100% !important;
    }

    .slider-text-serie {
        width: 90%;
    }

    .call-action-btn-serie {
        width: 60%;
        padding: 15px 10px;
    }
}


/* SECCIÓN CONFIABLE */

.confiable {
    padding: 5% 0 0 0;
}

.confiable .confiable-info {
    max-width: 1200px;
    width: 55%;
    margin: 0 auto;
}

.confiable .confiable-info h3 {
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5%;
    color: #000000;
}

.confiable .confiable-info p {
    font-size: 20px;
    font-weight: 700;
}

.slide-serie {
    display: none;
}

.confiable .confiable-camiones {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    gap: 2%;
    justify-content: center;
}

.confiable .confiable-camiones .confiable-camion {
    width: 49%;
}

.confiable .confiable-camiones .confiable-camion > figure {
    margin: 0;
    height: 370px;
    background-image: url(../../../images/iconos/rectangulo-rojo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confiable-camion-nombre-responsive {
    display: none;
}

.confiable .confiable-camiones .confiable-camion > h4 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 5% 0;
    font-weight: 900;
}

.confiable .confiable-camiones .confiable-camion > .confiable-camion-info {
    width: 55%;
    margin: 0 auto;
}

.confiable-camion-info .confiable-camion-propiedades {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10%;
}

.confiable-camion-info .confiable-camion-propiedades > article {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confiable-camion-info .confiable-camion-propiedades > article > figure {
    margin-bottom: 5%;
    width: 40px;
    height: 40px;
}

.confiable-camion-info .confiable-camion-propiedades > article > div {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.confiable-camion-tabla {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.confiable-camion-tabla .tabla-dato {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.confiable-camion-tabla .tabla-dato > div {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.confiable-camion-tabla .tabla-dato .gris {
    background-color: #D9D9D9;
}

.confiable-camion-tabla .tabla-dato > div span {
    font-size: 16px;
}

.confiable-camion-tabla .tabla-dato > a {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #2F2F2F;
    text-decoration: none;
    color: #FFF;
    font-weight: 900;
    border-radius: 3px;
}

/* RESPONSIVE SECCIÓN CONFIABLE */

@media (max-width: 1300px) {
    .confiable .confiable-info {
        max-width: 1000px;
        width: 60%;
    }

    .confiable .confiable-camiones {
        max-width: 1000px;
    }

    .confiable .confiable-camiones .confiable-camion > figure > img {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .confiable .confiable-info {
        max-width: 900px;
    }

    .confiable .confiable-info h3 {
        font-size: 30px;
    }

    .confiable .confiable-camiones {
        max-width: 900px;
    }

    .confiable .confiable-camiones .confiable-camion > h4 {
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    .confiable .confiable-info {
        max-width: 800px;
    }

    .confiable .confiable-camiones {
        max-width: 500px;
    }

    .confiable .confiable-camiones {
        max-width: 800px;
    }

    .confiable .confiable-camiones .confiable-camion > figure {
        height: 300px;
    }

    .confiable-camion-info .confiable-camion-propiedades > article > div {
        font-size: 15px;
        line-height: 18px;
    }

    .confiable .confiable-camiones .confiable-camion > .confiable-camion-info {
        width: 65%;
    }
}

@media (max-width: 900px) {
    .confiable .confiable-info {
        max-width: 90%;
    }

    .confiable .confiable-camiones {
        max-width: 90%;
    }

    .confiable-camion-info .confiable-camion-propiedades > article > div {
        font-size: 12px;
        line-height: 15px;
    }

    .confiable-camion-tabla .tabla-dato > div span,
    .confiable-camion-tabla .tabla-dato > a {
        font-size: 14px;
    }

    .confiable .confiable-camiones .confiable-camion > .confiable-camion-info {
        width: 70%;
    }
}

@media (max-width: 800px) {

    .confiable {
        padding: 8% 0 0 0;
    }

    .confiable .confiable-info {
        width: 70%;
    }

    .confiable .confiable-info h3 {
        font-size: 25px;
    }

    .confiable .confiable-camiones .confiable-camion > figure {
        height: 250px;
    }

    .confiable .confiable-camiones .confiable-camion > h4 {
        font-size: 20px;
    }

    .confiable .confiable-camiones .confiable-camion > .confiable-camion-info {
        width: 80%;
    }
}

@media (max-width: 700px) {

    .confiable .confiable-info {
        width: 80%;
    }

    .confiable .confiable-info h3 {
        font-size: 20px;
    }

    .confiable .confiable-info p {
        font-size: 18px;
        font-weight: 500;
    }

    .confiable .confiable-camiones {
        justify-content: center;
    }

    .confiable .confiable-camiones > article {
        display: none;
    }

    .confiable-camion-nombre {
        display: none;
    }

    .confiable-camion-nombre-responsive {
        display: flex;
        justify-content: center;
    }

    .slide-serie {
        display: flex;
    }

    .confiable .confiable-camiones .confiable-camion {
        width: 90%;
        margin: 0 auto;
    }

    .confiable .confiable-camiones .confiable-camion > figure {
        height: 300px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}

@media (max-width: 500px) {

    .confiable .confiable-info {
        width: 100%;
    }

    .confiable .confiable-info h3 {
        font-size: 18px;
        text-align: center;
    }

    .confiable .confiable-info p {
        font-size: 15px;
    }

    .confiable .confiable-camiones .confiable-camion {
        width: 100%;
    }

    .confiable .confiable-camiones .confiable-camion > figure {
        height: 250px;
    }

    .confiable .confiable-camiones .confiable-camion .confiable-camion-nombre-responsive {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .confiable .confiable-camiones .confiable-camion > figure {
        height: 210px;
    }

    .confiable .confiable-camiones .confiable-camion .confiable-camion-nombre-responsive {
        font-size: 16px;
    }
}

/* MODAL */

.modal {
  display: none; 
  position: fixed; 
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.modal-content{
    max-height: 100%;
    height: 65%;
    max-width: 1200px;
    width: 100%;
    padding: 0% 2% 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal-content > h2{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d81525;
    margin: 0 auto;
    padding-bottom: 1%;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

#ventanaModal .modal-content .carrusel-list{
    margin: 0;
}

#ventanaModal .modal-content .carrusel-list .carrusel-track .carrusel{
    width: 370px;
}

#ventanaModal .modal-content article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content article h3{
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}

.modal-content article figure{
    background-image: url(../../../images/iconos/rectangulo-rojo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#ventanaModal .modal-content article figure img{
    width: 100%;
    object-fit: contain;
}

.cerrar {
  color: #aeacac;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 20px;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content article a{
    background: #8D0007;
    border-radius: 8px;
    width: 35%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-modal-responsive{
    display: none;
}

/* MODAL RESPONSIVE */

@media (max-width: 1600px){
    .modal-content{
        height: 70%;
    }

    #ventanaModal .modal-content .carrusel-list .carrusel-track .carrusel{
        width: 375px;
    }
}

@media (max-width: 1400px){
    .modal-content{
        height: 65%;
    }
}

@media (max-width: 1300px){
    .modal-content{
        max-width: 1000px;
    }

    #ventanaModal .modal-content .carrusel-list .carrusel-track .carrusel {
        width: 465px;
    }

    .modal-content article figure{
        height: 380px;
    }
}

@media (max-width: 1200px){
    .modal-content{
        height: 65%;
    }

    .modal-content > article{
        height: 70%;
    }

    .modal-content article h3{
        font-size: 25px;
    }

    .modal-content article figure{
        background-size: 60%;
    }

    .modal-content article a{
        width: 50%;
        height: 45px;
    }
}

@media (max-width: 1100px){

    .modal-content{
        max-width: 900px;
    }

    .modal-content > h2{
        font-size: 30px;
    }

    #ventanaModal .modal-content .carousel-desk{
        max-width: 100%;
    }

    #ventanaModal .modal-content .carrusel-list .carrusel-track .carrusel{
        width: 425px;
    }

}

@media (max-width: 1000px){

    .modal-content{
        max-width: 90%;
        height: 75%;
    }

    #ventanaModal .carousel-modal-responsive{
        display: flex;
    }

    #ventanaModal > .modal-content > .carousel-desk{
        display: none;
    }

    .modal-content article figure{
        background-size: 40%;
        height: 460px;
    }

    #ventanaModal .modal-content article figure img{
        width: 70%;
    }

    #ventanaModal .carousel-control-prev{
        left: 0;
        width: 4%;
    }

    #ventanaModal .carousel-control-next{
        width: 4%;
    }

    #ventanaModal .carousel-control-next-icon{
        right: 0;
    }

    .modal-content article a{
        width: 30%;
    }

}

@media (max-width: 800px){
    .modal-content > h2 {
        font-size: 25px;
    }

    .modal-content article figure {
        background-size: 50%;
    }

    #ventanaModal .modal-content article figure img{
        width: 80%;
    }

    .modal-content article a{
        width: 40%;
    }
}


/* VISTA 360 */

.vista_360-serie {
    max-width: 1200px;
    width: 100%;
    margin: 5% auto 0;
}

.vista_360-serie .vista_360_titulo {
    color: #000;
    font-size: 30px;
    border-bottom: 1px solid #E02413;
    font-weight: 800;
}

.vista_360-serie figure {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* RESPONSIVE VISTA 360 */

@media (max-width: 1300px) {
    .vista_360-serie {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .vista_360-serie {
        max-width: 900px;
    }
}

@media (max-width: 1000px) {
    .vista_360-serie {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .vista_360-serie {
        max-width: 90%;
    }
}

@media (max-width: 800px) {

    .vista_360-serie {
        margin-top: 10%;
    }

    .vista_360-serie .vista_360_titulo {
        font-size: 25px;
    }

    .vista_360-serie figure img {
        width: 500px;
    }
}

@media (max-width: 700px) {

    .vista_360-serie .vista_360_titulo {
        font-size: 20px;
    }
}

@media (max-width: 600px) {

    .vista_360-serie figure img {
        width: 400px;
    }
}

@media (max-width: 500px) {

    .vista_360-serie .vista_360_titulo {
        font-size: 18px;
        text-align: center;
    }

    .vista_360 figure img {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .vista_360-serie figure img {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .vista_360-serie figure {
        margin-top: 10%;
    }
}


/* GALERIA */

.galeria_camiones {
    max-width: 1200px;
    width: 100%;
    margin: 5% auto;
}

.galeria_camiones .galeria_camiones_titulo {
    color: #000;
    font-size: 30px;
    font-weight: 800;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselExampleFade {
    max-width: 100%;
    margin: 0 auto;
    height: 350px;
}

#carouselExampleFade .carousel-inner {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item {
    min-height: 350px;
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item > div {
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item > div figure {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#carouselExampleFade .w-25 {
    width: 100% !important;
}

.carousel-control-prev, .carousel-control-next {
    width: 2%;
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next-icon {
    position: relative;
    right: -25px;
}

/* RESPONSIVE GALERIA SERIE */

@media (max-width: 1300px) {
    .galeria_camiones {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .galeria_camiones {
        max-width: 900px;
    }

    #carouselExampleFade {
        height: 320px;
    }

    #carouselExampleFade .carousel-inner .carousel-item {
        min-height: 100% !important;
    }
}

@media (max-width: 1000px) {
    .galeria_camiones {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .galeria_camiones {
        max-width: 90%;
    }
}

@media (max-width: 800px) {
    .galeria_camiones .galeria_camiones_titulo {
        font-size: 25px;
    }

    #carouselExampleFade {
        height: 250px;
    }
}

@media (max-width: 700px) {

    .galeria_camiones .galeria_camiones_titulo {
        font-size: 20px;
    }

    #carouselExampleFade {
        height: 220px;
    }
}

@media (max-width: 600px) {
    #carouselExampleFade .carousel-inner .carousel-item > div {
        gap: 2%;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div figure {
        width: 100%;
        min-width: 49%;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 3%;
    }

    .carousel-control-prev {
        left: -18px;
    }

    .carousel-control-next-icon {
        right: -18px;
    }
}

@media (max-width: 500px) {
    .galeria_camiones {
        margin: 10% auto;
    }

    .galeria_camiones .galeria_camiones_titulo {
        font-size: 18px;
        text-align: center;
    }

    #carouselExampleFade {
        height: 325px;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div {
        gap: 0;
    }

    #carouselExampleFade .carousel-inner .carousel-item > div figure {
        min-width: 100%;
    }

    #carouselExampleFade .w-25 {
        width: 70% !important;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 6%;
    }

    .carousel-control-prev {
        left: 0px;
    }

    .carousel-control-next-icon {
        right: 0px;
    }
}

@media (max-width: 400px) {
    #carouselExampleFade {
        height: 260px;
    }
}

/* GALERÍA 2 */

.carousel {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 0;
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 300px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel > div {
    width: 95%;
    margin: 0 auto;
}

.carrusel img {
    object-fit: cover;
    height: 300px;
    width: 100% !important;
    transition: .3s ease-in-out;
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    width: 28px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 20px;
    height: 100%;
    color: #E02413;
}

.carrusel-prev {
    left: 6px;
}

.carrusel-next {
    right: 6px;
}

/* RESPONSIVE GALERÍA 2 */

@media (max-width: 1300px) {
    .carousel {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .carousel {
        max-width: 900px;
    }
}

@media (max-width: 1000px) {
    .carousel {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .carousel {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .carrusel {
        width: 300px;
    }

    .carrusel img {
        width: 250px;
    }
}


/* VIDEO */

.video_camion > iframe {
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

/* RESPONSIVE VIDEO */

@media (max-width: 1300px) {
    .video_camion > iframe {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .video_camion > iframe {
        max-width: 900px;
    }
}

@media (max-width: 1000px) {
    .video_camion > iframe {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .video_camion > iframe {
        max-width: 90%;
    }
}

@media (max-width: 700px) {
    .video_camion > iframe {
        height: 350px;
    }
}

@media (max-width: 400px) {
    .video_camion > iframe {
        height: 210px;
    }
}


/* MODELOS DISPONIBLES */

.serie-camiones .modelos_disponibles {
    text-align: left;
    border-bottom: 1px solid red;
    font-size: 30px;
    margin-bottom: 1%;
    font-weight: 800;
}


.letter {
    color: #000000;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.model-camiones {
    background-color: #FFF;
    margin: 5% auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

}

.modelos {
    margin: 40px auto;
    height: 415px;
    margin: 0px;
}

.menu-modelos {
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #E02413;
    width: 77%;

    margin-left: 50px;
}

.dato-tecnico {
    color: #000;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.datos {
    font-weight: bold;
}

.camion-capacidad img,
.camion-capacidad .dato-tecnico {
    display: inline-block;
    vertical-align: middle;
}

.camion-capacidad img, .camion-peso img {
    margin-right: 4px;
    /* Ajusta este valor según sea necesario */
}

.camion-peso img,
.camion-peso .dato-tecnico {
    display: inline-block;
    vertical-align: middle;
}

.camion-longitud {
    margin-top: 2%
}

.camion-longitud img,
.camion-longitud .dato-tecnico {
    display: inline-block;
    vertical-align: middle;
}

.camion-longitud img {
    margin-right: 15px;
}

.container-pro {
    display: flex;
    margin-top: 4%
}

.img-serie {
    z-index: 1;
    left: -10px;
    margin-top: 30px;
}

.img-serie, .raya-roja {
    position: absolute;
}

.todos {
    display: flex;
    justify-content: space-between;
}

.hc {
    position: relative !important;
    width: 45% !important;
    height: 360px;
}

.propiedades {
    text-align: left;
    /*margin-left: 200px;*/
    width: 50%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.camion-propiedades {
    text-align: center;

}

.botones {
    flex-direction: row;
    display: flex;
}

.boton {
    display: inline-block;
    color: #0e0e0e;

    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;

    width: 50%;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid #E02413;
    padding: 2% 3%;
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000000;

    display: flex;
    align-items: center;
    gap: 3%;

}

.boton1 {
    margin-left: 10px;

    color: #0e0e0e;

    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;

    width: 25%;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid #E02413;
    padding: 2% 3%;
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000000;

    display: flex;
    align-items: center;
    gap: 3%;
}

.ver-btn {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;

    line-height: 15.92px;

    width: 150px;
    height: 40px;
    color: #ffffff;
    word-wrap: break-word;
    background: #E02413;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-btn:hover {
    background-color: #E02413;
    color: #fff;
    /* text-decoration: none; */
}

.raya-roja {
    z-index: 0;
    height: 350px;
    width: 300px;
    margin-left: 100px;
}

.btn-serie {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 19.76px;
    border: none;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
    top: 1066px;
    left: 421px;
    border-radius: 0px 0 0 0px;
    width: 166px;
    height: 50px;
    transform: skew(-15deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;

}

.btn-serie:focus {
    background-color: #E02413;
    color: #fff;
}

.btn-serie.active {
    background-color: #E02413;
    color: #fff;
    /* Cambia el color de fondo para indicar que está activo */
}

.content {
    width: 100%;
    position: relative;
}

.content_text {
    width: 100%;
    position: absolute;
    transform: scale(0);
    transition: .4s;
    padding: .5em;
    background-color: #fff;
}

.title {
    margin: 0;
}

.block {
    transform: scale(1);
    z-index: 10;
}

.nombre-responsive {
    display: none;
}

.nombre {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}

.sliderdecamiones {
    width: 100%;
    overflow: hidden;
}

.sliderca {
    display: flex;
    transition: transform 0.5s ease;
}

.sliderca-item {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    font-size: 54px;
    color: rgb(216, 3, 3);
    cursor: pointer;
}

.next-btn {
    right: 0px;
}

/*----- PAGINACIÓN -----*/

.carousel-indicators{
    bottom: -90px !important;
  }
  
  .carousel-indicators [data-bs-target]{
    background-color: #E02413 !important;
  }
/* RESPONSIVE */

@media (max-width: 1300px) {
    .model-camiones {
        max-width: 1000px;
    }

    .model-camiones .modelos .content_text {
        padding: 0;
    }

    .model-camiones .modelos .hc .img-serie {
        width: 500px;
        left: 20px;
        margin-top: 50px;
    }

    .model-camiones .modelos .propiedades .dato-tecnico {
        font-size: 14px;
    }

    .model-camiones .modelos .propiedades .botones > a {
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    .model-camiones .modelos .propiedades .botones > .boton {
        width: 50%;
    }

    .model-camiones .modelos .propiedades .botones > .boton1 {
        width: 28%;
    }

    .model-camiones .modelos .propiedades .ver-btn {
        font-size: 14px;
        width: 140px;
    }
}

@media (max-width: 1200px) {
    .model-camiones {
        width: 90%;
    }

    .model-camiones .propiedades {
        width: 40%;
    }

    .model-camiones .propiedades .container-pro {
        display: flex !important;
        flex-direction: column;
        gap: 15px;
    }

    .model-camiones .propiedades .container-pro > div {
        margin: 0;
    }

    .model-camiones .propiedades .container-pro > .camion-capacidad {
        margin-left: 5px !important;
    }
}

@media (max-width: 1100px) {
    .model-camiones {
        max-width: 900px;
    }

    .serie-camiones .modelos_disponibles {
        font-size: 30px;
    }

    .model-camiones .modelos .propiedades .nombre {
        font-size: 25px;
    }

    .model-camiones .modelos .propiedades .botones > a {
        font-size: 10px;
    }

    .model-camiones .modelos .propiedades .botones > .boton {
        width: 60%;
    }

    .model-camiones .modelos .propiedades .botones > .boton1 {
        width: 35%;
    }
}

@media (max-width: 1000px) {

    .serie-camiones .modelos {
        height: 770px;
    }

    .raya-roja {
        margin-left: 0;
    }

    .model-camiones {
        max-width: 800px;
    }

    .model-camiones .todos .hc {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
    }

    .model-camiones .modelos .hc .img-serie {
        left: -80px;
        margin-top: 12px;
    }

    .model-camiones .todos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .model-camiones .todos .img-serie {
        left: 18%;
    }

    .model-camiones .todos .propiedades {
        width: 65%;
        text-align: center;
    }

    .model-camiones .todos .propiedades > h3 {
        display: none;
    }

    .nombre-responsive {
        display: flex;
        margin-bottom: 5%;
        font-size: 25px;
    }

    .model-camiones .todos .propiedades > .container-pro {
        flex-direction: row;
        justify-content: space-between;
    }

    .model-camiones .todos .propiedades > .container-pro > div {
        flex-direction: column;
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 10px
    }

    .propiedades .container-pro div > img {
        width: 70px;
        height: 70px;
    }

    .propiedades .botones {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }

    .propiedades .botones button {
        width: 45%;
        justify-content: center;
    }

    .propiedades > .ver-btn {
        width: 35% !important;
        height: 45px;
    }

    .model-camiones .modelos .propiedades .ver-btn {
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .serie-camiones .model-camiones {
        max-width: 90%;
    }
}

@media (max-width: 800px) {

    .serie-camiones .modelos_disponibles {
        font-size: 25px;
    }

    .serie-camiones .model-camiones .todos .propiedades {
        width: 85%;
    }

    .serie-camiones .propiedades .botones button {
        padding: 3%;
        font-size: 12px;
    }

    .serie-camiones .propiedades > .ver-btn {
        font-size: 12px;
    }

    .serie-camiones .propiedades .container-pro div > img {
        width: 45px;
        height: 45px;
    }

    .serie-camiones .model-camiones .todos .img-serie {
        left: -25%;
    }
}

@media (max-width: 700px) {

    .serie-camiones .modelos_disponibles {
        font-size: 20px;
    }

    .nombre-responsive {
        font-size: 18px;
    }

    .serie-camiones .model-camiones .todos .img-serie {
        left: -45%;
    }

    .propiedades .container-pro div > img {
        width: 40px;
        height: 40px;
    }

    .model-camiones .modelos .propiedades .dato-tecnico {
        font-size: 12px;
    }
}

@media (max-width: 600px) {

    .serie-camiones .modelos {
        height: 700px;
    }

    .model-camiones .todos .hc {
        height: 290px;
    }

    .serie-camiones .model-camiones .todos .img-serie {
        left: -34% !important;
        width: 400px !important;
    }

    .serie-camiones .raya-roja {
        height: 290px;
        width: 220px;
    }

    .serie-camiones .model-camiones .todos .propiedades {
        width: 100%;
    }

    .serie-camiones .dato-tecnico {
        font-size: 12px;
        line-height: 15px;
    }

    .serie-camiones .propiedades .botones button {
        width: 48%;
    }
}

@media (max-width: 500px) {

    .serie-camiones .modelos_disponibles {
        font-size: 18px;
        text-align: center;
    }

    .serie-camiones .model-camiones .modelos .menu-modelos .btn-serie {
        width: 20%;
        font-size: 12px;
        height: 40px;
        margin-left: 6px;
    }

    .serie-camiones .raya-roja {
        height: 260px;
        width: 215px;
    }

    .serie-camiones .model-camiones .todos .img-serie {
        left: -36% !important;
        width: 350px !important;
    }
}

@media (max-width: 450px) {
    .serie-camiones .model-camiones .todos .img-serie {
        width: 300px !important;
        margin-top: 8px;
    }

    .serie-camiones .raya-roja {
        height: 215px;
        width: 190px;
    }

    .nombre-responsive {
        font-size: 18px;
    }

    .serie-camiones .model-camiones .propiedades .container-pro {
        gap: 0px;
    }

    .serie-camiones .model-camiones .todos .propiedades > .container-pro > div {
        width: 30%;
    }

    .serie-camiones .propiedades > .ver-btn {
        width: 50% !important
    }
}

@media (max-width: 400px) {
    .serie-camiones .modelos {
        height: 625px;
    }

    .model-camiones .todos .hc {
        height: 250px;
    }

    .serie-camiones .model-camiones .todos .img-serie {
        left: -50% !important;
    }
}
